#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.taks-container {
	width: 550px;
	height: 600px;
	min-width: 300px;
	background: #3b3b3b;
	padding: 10px;
	border-radius: 10px;
	margin: 30px 0;
}

.task-list {
	width: 100%;
	height: 100%;
	border: 1px solid #5f5f5f;
	list-style: none;
	text-align: left;
	border-radius: 10px;
	padding: 0 8px 8px 8px;
}

.task-list li {
	display: flex;
	justify-content: space-between;
	border: 1px solid #cecece;
	background: #696969;
	padding: 0.5rem 1.2rem;
	border-radius: 10px;
	margin: 8px 0;
	gap: 0.6rem;
}

.task-list li p {
	overflow: hidden;
	max-width: 80%;
	text-overflow: ellipsis;
}

.task-list li div {
	display: flex;
	gap: 0.5rem;
	width: 100%;
}

.task-btn {
	cursor: pointer;
}

li.task-cheked {
	color: #48d548;
	border: 1px solid #48d548;
	background: #7e7e7e;
}
